
<div>
    <div class="diary-header">
        <div *ngFor="let weekDay of weekDays, index as i" [class.dom]="i === 6">{{ weekDay }}</div>
    </div>
    <div class="diary-header">
        <div *ngFor="let date of dates, index as i" [class.dom]="i === 6">{{ date }}</div>
    </div>
    <div class="flex-container">
        <div>
            <div *ngFor="let hour of hours" class="hour">{{ (hour < 10 ? "0" + hour : hour) + ":00" }}</div>
        </div>
        <div class="slots">
            <div *ngFor="let date of dates" style="border: 1px solid #000" class="slot"></div>
        </div>
    </div>
</div>

