.flex-container {
    display: flex;
    align-items: flex-start;
}

.diary-header {
    display: flex;
    align-items: center;
    width: calc(100% - 50px);
    justify-content: space-around;
    text-transform: uppercase;
    margin-left: 35px;

    div {
        width: 14.2857142857%;
        text-align: center;
        border: 1px solid #bdbdbd;
        padding: 5px 0;
        font-size: 12px;
        border-bottom: none;
        border-right: none;
    }

    .border {
        border-right: 1px solid #bdbdbd;
    }

    .dom {
        color: red;
    }
}

.hour {
    padding: 5px;
    font-size: 10px;
}

.slots {
    display: flex;
    align-items: stretch;
    width: calc(100% - 50px);
    height: 528px;

    .slot {
        width: calc(100% / 7);
        border: 1px solid #bdbdbd;
        border-right: none;
        height: 100%;
    }

    .border {
        border-right: 1px solid #bdbdbd;
    }

    .event-hour {
        height: 4.1666666667%;
        padding: 5px;
        border-bottom: 1px solid #bdbdbd59;
        width: 90%;
        margin: 0 auto;
    }

    .no-border {
        border-bottom: none;
    }
}