.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .month-year {
        margin: 0 10px;
        background-color: #000000db;
        color: #fff;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrow-container {
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 20px;
        }
    }
}

.flex-container {
    display: flex;
    align-items: flex-start;
}

.diary-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;

    div {
        width: 14.2857142857%;
        text-align: center;
        border: 1px solid #bdbdbd;
        padding: 5px 0;
        font-size: 12px;
        border-bottom: none;
        border-right: none;
    }

    .border {
        border-right: 1px solid #bdbdbd;
    }

    .dom {
        color: red;
    }
}

.hour {
    padding: 5px;
    font-size: 10px;
}

.slots {
    display: flex;
    align-items: stretch;
    width: calc(100% - 70px);
    height: 528px;

    .slot {
        width: calc(100% / 7);
        border: 1px solid #bdbdbd;
        border-right: none;
        height: 100%;
    }

    .border {
        border-right: 1px solid #bdbdbd;
    }

    .event-hour {
        height: 4.1666666667%;
        padding: 5px;
        border-bottom: 1px solid #bdbdbd59;
        width: 90%;
        margin: 0 auto;
    }

    .no-border {
        border-bottom: none;
    }

    .event {
        position: absolute;
        font-size: 8px;
        background-color: #d5e9d3;
        width: 90%;
        left: 5%;
        margin: 0 auto;
        text-align: center;
    }
}