<div class="container">
    <app-google-button (events)="events = $event"></app-google-button>
    <div class="container">
        <div class="month-year" (click)="modalService.displayModal('month')">{{ currentMonth }}</div>
        <div class="month-year" (click)="modalService.displayModal('year')">{{ year }}</div>
    </div>
    <div style="width: 36px"></div>
</div>
<div class="header-container">
    <div class="arrow-container" (click)="goBack()">
        <img src="../../../../assets/icons/left-arrow.png" alt="back">
    </div>
    <div style="flex-grow: 1;">
        <div class="diary-header">
            <div *ngFor="let weekDay of weekDays, index as i" [class.dom]="i === 6" [class.border]="i === 6">{{ weekDay }}</div>
        </div>
        <div class="diary-header">
            <div *ngFor="let date of dates, index as i" [class.dom]="i === 6" [class.border]="i === 6">{{ date.date }}</div>
        </div>
    </div>
    <div class="arrow-container" (click)="goForth()">
        <img src="../../../../assets/icons/right-arrow.png" alt="forth">
    </div>
</div>

<div class="flex-container">
    <div>
        <div *ngFor="let hour of hours" class="hour">{{ (hour < 10 ? "0" + hour : hour) + ":00" }}</div>
    </div>
    <div class="slots">
        <div *ngFor="let date of dates, index as i" class="slot" [class.border]="i === 6">
            <div *ngFor="let hour of hours, index as i" class="event-hour" [class.no-border]="i === 23"></div>
        </div>
    </div>
</div>