<div class="container">
    <div class="col-sx">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, commodi!</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum rerum dolore illum placeat inventore. Consequuntur, optio ipsa iste culpa commodi nostrum vero nemo fugiat consectetur ad voluptatum! Commodi, tempora in?</p>
        <button>Registrati</button>
        <button>Log In</button>
    </div>
    <div class="image">
        <img src="../../../../assets/img/diary.jpg">
    </div>
</div>
