/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border: 1px solid rgba(128, 128, 128, 0.5215686275);
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.5215686275); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a7a4a4; 
}